.pageContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 20px;
    min-height: 100vh;
  }
  .auctionListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    padding: 20px;
    width: 100%;
  }