.formContainer{
    background-color: rgb(228, 228, 213);
    width: 600px;
    padding: 10px;
    height: fit-content;
    margin: 20px auto;
}
.form input, textarea, .createBtn{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
}
.form input[type=number]{
    appearance: textfield;
}
.createBtn:hover{
    background-color: beige;
    outline: 1px inset black;
}
